
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Poll Demo</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="https://www.kingstondevelopers.ca/img/favicon.png"/>

    <!-- Styles -->
    <link rel="stylesheet" href="https://www.kingstondevelopers.ca/css/app.269a788b1ff301dd7ebe.css">

</head>
<body>
<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/">
            <img src="https://www.kingstondevelopers.ca/img/logo_k.svg" style="height: 100%; max-width: 30px;">
        </a>
    </div>
</nav>

    <hr>

    <div class="container">

{% block polls_content %}
{% endblock %}

    </div>
</body>
</html>
